body, html{
  height:100%;
  width:100%;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px blue;
}

body{
  height:100%;
  width:100%;
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url("img/background.gif");
  background-size: cover;
}

body, a:link, a:visited, a:active{
  color: lightblue;
}

footer {
    float:right;
    display: block;
    font-size: 12px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-shadow: 1px 1px 1px #000, 3px 3px 5px blue;
}

.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}

.topbar{
  height:32px;
  background-color: #555;
}

.lineUpButton{
  background-color: powderBlue;
  font-size: 18px;
  font-style: oblique;
  color: blue;
  width: 5em;
  height: 1.7em;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px blue;
}

.title{
  background-color: #777;
}

.tinted-image {
 max-width: 100%;
 height: auto;
 width: auto;
 background: url("#");
}

.red:after {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  background: rgba(255, 0, 0, 0.5);
}

.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;

  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
10%, 90% {
  transform: translate3d(-1px, 0, 0);
}

20%, 80% {
  transform: translate3d(2px, 0, 0);
}

30%, 50%, 70% {
  transform: translate3d(-4px, 0, 0);
}

40%, 60% {
  transform: translate3d(4px, 0, 0);
}
}

.dancer.seal {
 border:9px solid red;
 border-radius:9px;
}

.dancer.bear {
  border:9px solid red;
  border-radius:9px;
}

.dancer.cockatoo {
  border:9px solid red;
  border-radius:9px;
}

.dancer.cat {
  border:9px solid red;
  border-radius:9px;
}
